.App {
    text-align-last: left;
    width: 90%;
    padding: 0px 0px 0px 10%;
    overflow: auto;
    /* color: white;
    background-image: url("https://krua.co/laravel-filemanager/photos/1/cooking/rice_dessert/ArticlePic_16.jpg"); */
    
}

.App__Aside {
    text-align-last: left;
    width: 80%;
    padding: 15px 0px 0px 20%;
    overflow: auto;
}

.App__Form {
    width: 100%;
    background-image: url("https://krua.co/laravel-filemanager/photos/1/cooking/rice_dessert/ArticlePic_16.jpg");
    padding: 0px;
    overflow: auto;
}

.PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0%;
}

.PageSwitcher__Item {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 5px;
}

.PageSwitcher__Item--Active {
    background-color: #5ED0C0;
    color: white;
}

.PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 5px;
}

.PageSwitcher__Item:last-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 5px;
}


/*Dropdown*/
.Dropdown__btn {
    background-color: #4C5D72;
    color: #9DA6B1;
    padding: 13px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 5px;
}
  
.Dropdown {
    position: relative;
    display: inline-block;
}
  
.Dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
  
.Dropdown__content a {
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
    font-size: .9em;
}
  
.Dropdown__content a:hover {
      background-color: #f1f1f1;
}
  
.Dropdown:hover .Dropdown__content {
    display: block;
}
  
.Dropdown:hover .Dropdown__btn {
    background-color: #3e8e41;
}
/*Dropdown*/



.FormCenter {
    margin-bottom: 0px;
}

.FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
}

.FormTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 0 10px;
    padding-bottom: 5px;
}

.FormTitle__Link:first-child {
    margin-left: 0;
}

.FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #199087;
}

.FormField {
    margin-bottom: 30px;
}

.FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
}

.FormField__Input {
    width: 90%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
}

.FormField__Input::placeholder {
    color: #616E7F;
}

.FormField__Button {
    background-color: #2E4158;
    color: #ffffff;
    border: 2px solid #52C4B9;
    border-radius: 15px;
    padding: 12px 28px;
    margin-right: 10px;
    font-size: .8em;
    font-weight: 500;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
}

.FormField__Button:hover {
    background-color: #52C4B9;
    color: #ffffff;
    border: 2px solid #52C4B9;
    border-radius: 15px;
    padding: 12px 28px;
    font-size: 0.8em;
    font-weight: 500;
}

.FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
}

.FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
}

.FormField__Checkbox {
    position: relative;
    top: 1.5px;
}

.FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #199087;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
}
/*Button Social*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-social{
    position:relative;
    padding-left:44px;
    text-align:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.btn-social>:first-child{
    position:absolute;
    left:0;top:0;
    bottom:0;
    width:32px;
    line-height:34px;
    font-size:1.6em;
    text-align:center;
    border-right:1px solid rgba(0,0,0,0.2);
}

.btn-social.btn-lg{
    padding-left:61px;
}

.btn-social.btn-lg>:first-child{
    line-height:45px;
    width:45px;
    font-size:1.8em;
}

.btn-social.btn-sm{
    padding-left:38px;
}

.btn-social.btn-sm>:first-child{
    line-height:28px;
    width:28px;
    font-size:1.4em;
}

.btn-social.btn-xs{
    padding-left:30px;
}

.btn-social.btn-xs>:first-child{
    line-height:20px;
    width:20px;
    font-size:1.2em;
}

.btn-social-icon{
    position:relative;
    padding-left:44px;
    text-align:left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    height:34px;
    width:34px;
    padding:0;
}

.btn-social-icon>:first-child{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:32px;
    line-height:34px;
    font-size:1.6em;
    text-align:center;
    border-right:1px solid rgba(0,0,0,0.2);
}

.btn-social-icon.btn-lg{
    padding-left:61px;
}

.btn-social-icon.btn-lg>:first-child{
    line-height:45px;
    width:45px;
    font-size:1.8em;
}

.btn-social-icon.btn-sm{
    padding-left:38px;
}

.btn-social-icon.btn-sm>:first-child{
    line-height:28px;
    width:28px;
    font-size:1.4em;
}

.btn-social-icon.btn-xs{
    padding-left:30px;
}

.btn-social-icon.btn-xs>:first-child{
    line-height:20px;
    width:20px;
    font-size:1.2em;
}

.btn-social-icon>:first-child{
    border:none;
    text-align:center;
    width:100% !important;
}

.btn-social-icon.btn-lg{
    height:45px;
    width:45px;
    padding-left:0;
    padding-right:0;
}

.btn-social-icon.btn-sm{
    height:30px;
    width:30px;
    padding-left:0;
    padding-right:0;
}

.btn-social-icon.btn-xs{
    height:22px;
    width:22px;
    padding-left:0;
    padding-right:0;
}

.btn-facebook{
    color:#fff;
    background-color:#3b5998;
    border-color:rgba(0,0,0,0.2);
}

.btn-facebook:focus,.btn-facebook.focus{
    color:#fff;
    background-color:#2d4373;
    border-color:rgba(0,0,0,0.2);
}
.btn-facebook:hover{
    color:#fff;
    background-color:#2d4373;
    border-color:rgba(0,0,0,0.2);
}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{
    color:#fff;
    background-color:#2d4373;
    border-color:rgba(0,0,0,0.2);
}

.btn-facebook:active:hover,.btn-facebook.active:hover,
.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,
.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,
.btn-facebook:active.focus,.btn-facebook.active.focus,
.open>.dropdown-toggle.btn-facebook.focus{
    color:#fff;
    background-color:#23345a;
    border-color:rgba(0,0,0,0.2);
}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{
    background-image:none;
}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{
    background-color:#3b5998;
    border-color:rgba(0,0,0,0.2);
}

.btn-facebook .badge{
    color:#3b5998;
    background-color:#fff;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: red;}
  #News {background-color: green;}
  #Contact {background-color: blue;}
  #About {background-color: orange;}